{% extends "base.html" %}

{% block content %}

<div>
    <section>
        <h1 class="text__header">About This App</h1>
    </section>
    <section>
        <p class="text__paragraph">This app is a practical learning project, using e-learning as the use case.</p>
        <p class="text__paragraph">The following areas will be learned from this project:</p>
        <ul class="text__paragraph">
            <li>How to effectively link across entities</li>
            <li>How to dynamically display different videos</li>
            <li>How to store and retrieve data from SQLite</li>
        </ul>
    </section>
</div>

{% endblock %}