{% extends "base.html" %}

{% block content %}

<div>
    <section>
        <h3 class="text__header">Videos for {{ course_name }}</h3>
        <br>
    </section>
</div>
<div>

    {% for video in entries_videos %}

    <section>
        <h3 class="text__link"> <a href="{{ url_for('video', course_name=video[2], video_num=video[3]) }}">{{ video[3] }}. {{ video[0] }}</a> </h3>
        <p class="text__paragraph">Video Summary: {{ video[1] }}</p>
        <p class="text__mini__link"> <a href="{{ url_for('video', course_name=video[2], video_num=video[3]) }}">Check out this video</a> </p>
        <hr class="thematic__break">
    </section>

    {% endfor %}
    
</div>

{% endblock %}