{% extends "base.html" %}

{% block content %}

<!-- need to pass video title and video length -->
<!-- Video section headers can be added in V2 -->

<div>
    <section>
        <h1 class="text__header">Videos for {{ course_name }}</h1>
        <br>
    </section>
</div>
<div>
    {% for video in entries_videos %}

    <section>
        <h1 class="text__header">{{ video[0] }}</h1>
        <!-- add photo in asset -->
        <p class="text__paragraph">{{ video[1] }}</p>
        <hr class="solid">
    </section>

    {% endfor %}
</div>

{% endblock %}