{% extends "base.html" %}

{% block content %}

<div>
    <section>
        <h3 class="text__header">{{ video_name }}</h3>
    </section>
    <section>
        <iframe width="560" height="315" src={{ video_url }} frameborder="0" allowfullscreen></iframe>
    </section>
    <section>
        <p class="text__paragraph">{{ video_desc }}</p>
        <br>
        <br>
    </section>
    <div class="button__multichoice">
        <section class="left">
            <form class="form" method="POST">
                <button class="button__submit" type="submit" name="submit_paginate" value="previous">Previous Video</button>
            </form>
        </section>
        <section class="right">
            <form class="form" method="POST">
                <button class="button__submit" type="submit" name="submit_paginate" value="next">Next Video</button>
            </form>
        </section>
    </div>
</div>

{% endblock %}